black
coverage
django-stubs
djangorestframework-stubs
factory-boy
Faker
flake8
Flake8-pyproject
isort
pip-tools
pre-commit
pycodestyle
pytest
pytest-django
pytest-factoryboy
pytest-mock
PyYAML==5.3.1
