black
django-stubs
djangorestframework-stubs
factory-boy
Faker
flake8
Flake8-pyproject
flake8-type-checking
pip-tools
pre-commit
pytest
pytest-cov
pytest-django
pytest-factoryboy
pytest-mock
PyYAML==5.3.1
ruff
